<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heaser Backend</title>
</head>

<body>
    <h1 id="heaser">HeaseR</h1>
    <p>HeaseR is a all round solution to all the HR solutions of the company, such as managing employees, etc. thereby
        maintaining stable cash flows and balance.</p>
    <h4 id="this-repository-has-the-backend-for-the-web-application-">This repository has the backend for the web
        application.</h4>
    <h2 id="installation">Installation</h2>
    <p>Use the package manager <a href="https://yarnpkg.com/">yarn</a> to install HeaseR.</p>
    <pre><code class="lang-bash"><span class="hljs-built_in">cd</span> Heaser-backend
yarn install
yarn <span class="hljs-built_in">start</span>
</code></pre>
    <h4 id="api-docs">API Docs</h4>
    <p><a
            href="https://documenter.getpostman.com/view/12879233/TVeiEBce">https://documenter.getpostman.com/view/12879233/TVeiEBce</a>
    </p>
    <h2 id="disclaimer">Disclaimer</h2>
    <p>This repository was built for the event [SAP Semicolon; 4.0] organized by SAP Labs.</p>

</body>

</html>